<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!-- PIC Web Service 路徑 -->
  <add key="PicWSUrl" value="http://61.57.231.23/b2beivcp/ws/SellerJobReceiverWebService" />
  <!-- 營業人編號 -->
  <add key="Identifier" value="54650114" />
  <!-- 帳號 -->
  <add key="Account" value="54650114" />
  <!-- 密碼 -->
  <add key="Password" value="54650114" />
  <!-- 管理員信箱 -->
  <add key="ErrMailTo" value="eric.lin@ecpay.com.tw" />
  <!-- 發票日期(起) (日期格式為yyyyMMdd，限制查詢一天資料量)-->
  <add key="InvoiceDateFrom" value="" />
  <!-- 發票日期(迄) (日期格式為yyyyMMdd，限制查詢一天資料量)-->
  <add key="InvoiceDateTo" value="" />
  <!-- 買方類型 (0: 全部、 1: 只傳B2B 、2: 只傳B2C ，未使用系統預設為：0.全部)-->
  <add key="BuyerType" value="" />
</appSettings>