<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!-- ProductionMode 0 = "非正式環境" 1 = "正式環境" -->
  <add key="ProductionMode" value="0" />
</appSettings>