@using ICP.Modules.Mvc.Admin.Models.MailLibrary
@model List<NotifyTag>
@foreach (NotifyTag item in Model)
{
    <a class="btn" TagID="@item.TagID" data-clipboard-text="{{@item.TagKey}}">
        <span class="bb-icon"></span>
        @item.Name
    </a>
}