<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="ICashKms.Common" version="19.4.1" targetFramework="net462" />
  <package id="ICashKms.Crypto" version="19.4.1.1" targetFramework="net462" />
  <package id="ICashKms.Utility" version="19.3.21" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Pkcs" version="4.5.2" targetFramework="net462" />
</packages>