<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configSource=".\App_Data\appSettings.Beta.config" xdt:Transform="SetAttributes(configSource)" />
  <connectionStrings configSource=".\App_Data\connectionStrings.Beta.config" xdt:Transform="SetAttributes(configSource)" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey decryptionKey="E93869EA83123A5638CD132049C9E0006C1D3EB4FB9F3203" validationKey="13CB9918BE9D6AA2A24E894461DC0D3E42043547C67FCBD975B53E36D85DA5B209FF86E0A3794720D9B3D7CC826BF04A6E419F4AA3118FC6BC7B2464F5D96BCC" xdt:Transform="Insert" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://icp-keyapi-beta.ecpay.com.tw/KeyApi.asmx" binding="basicHttpBinding" bindingConfiguration="KeyApiSoap" contract="KeyApiServiceReference.KeyApiSoap" name="KeyApiSoap" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>