<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!--<add key="DbProxy_Enable" value="1" />-->
  <add key="Authorization_CookieName" value="iCP-Authorization-Dev" />
  <add key="Authorization_Domain" value="localhost" />
  <add key="Host_Member_Domain" value="http://localhost:3311" />
  <!-- APP XML 設定檔目錄 -->
  <add key="APPXMLPath" value="/Upload/APPXMLPath" />
  <add key="FingerPrintPasswordHashKey" value="dd2b86ccdca9470d" />
  <add key="FingerPrintPasswordHashIV" value="d189280cc97e4377" />
  <add key="IDNO.Path" value="/Upload/IDNO/" />
  <!-- ProductionMode 0 = "非正式環境" 1 = "正式環境" -->
  <add key="ProductionMode" value="0" />
  <!-- 允許模擬測試 0:否 1:是 -->
  <add key="AllowMock" value="1" />
  <add key="Host_Member_Domain" value="http://localhost:3311" />
  <add key="Host_OpenPointApi_Domain" value="" />
  <add key="Path:TeenagersLegalDetail" value="/Upload/TeenagersLegalDetail/" />
  <!-- AccountLink Domain -->
  <add key="Host_Middleware_AccountLink_Domain" value="http://localhost:50938" />
  <add key="AdminIP" value="127.0.0.1"/>
  <!-- Client OpenWallet API 開關 -->
  <add key="ClientOpenWalletSwitch" value="0"/>
</appSettings>