<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <add key="TimeoutSec" value="30" />
  <add key="BindWebResultUrl" value="https://icp-member-stage.ecpay.com.tw/ACLink/BindResult" />
  <!--<add key="DbProxy_Enable" value="1" />-->
</appSettings>