<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--[設定] 寫入目標-->
  <targets>
    <!-- 文字檔案 -->
    <target xsi:type="File" name="DefaultTarget" encoding="UTF-8" fileName="${basedir}\App_Data\Logs\${logger}\${date:format=yyyy-MM-dd}.log"
     layout="[${date:format=HH\:mm\:ss.fff}][${uppercase:${level}}][${aspnet-item:variable=WebApplication_RequestId}] ${message}" />
    
    <target xsi:type="File" name="ErrorTarget" encoding="UTF-8" fileName="${basedir}\App_Data\Logs\${logger}\${date:format=yyyy-MM-dd}_Error.log"
     layout="[${date:format=HH\:mm\:ss.fff}][${uppercase:${level}}][${aspnet-item:variable=WebApplication_RequestId}] ${message}${newline}${newline}${exception:format=tostring}" />
    
    <!-- 事件檢視器 -->
    <target xsi:type="EventLog"
            name="EventLogTarget"
            source="ICP.Host.Member"
            log="Application"
            layout="[${aspnet-item:variable=WebApplication_RequestId}] ${message}${newline}${newline}${exception:format=tostring}"/>

    <!-- 電子郵件 -->
    <target
        xsi:type="Mail"
        name="EmailTarget"
        smtpServer="10.5.0.132"
        from="sys@ns1.ecpay.com.tw"
        to="GW-ProjectDev@ecpay.com.tw"
        subject="${aspnet-request-host} - ${machinename}"
        body="
DateTime：${date}${newline}
RequestId：${aspnet-item:variable=WebApplication_RequestId}${newline}
RequestUrl：${aspnet-request-url}${newline}
UserAgent：${aspnet-request-useragent}${newline}
ContentType：${aspnet-request-contenttype}${newline}
Referrer：${aspnet-request-referrer}${newline}
Method：${aspnet-request-method}${newline}
ClientIP：${aspnet-request-ip}${newline}
Message：${message}${newline}${newline}${newline}
${exception:format=tostring}" />

    <!-- 資料庫 -->
    <target xsi:type="Database" name="DbTarget">
      <connectionStringName>ICP_Logging</connectionStringName>
      <commandText>
        EXEC [dbo].[ausp_AddHostAccountLinkLog_I]
        @Logger = @Logger,
        @Type = @Type,
        @RequestId = @RequestId,
        @RequestUrl = @RequestUrl,
        @UserAgent = @UserAgent,
        @Message = @Message,
        @Exception = @Exception,
        @CreateDT = @CreateDT,
        @MachineName = @MachineName,
        @RequestContent = @RequestContent,
        @ErrorType = @ErrorType
      </commandText>

      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Type" layout="${level}" />
      <parameter name="@RequestId" layout="${aspnet-item:variable=WebApplication_RequestId}" />
      <parameter name="@RequestUrl" layout="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" />
      <parameter name="@UserAgent" layout="${aspnet-request-useragent}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@CreateDT" layout="${date}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@RequestContent" layout="${aspnet-request-form}${aspnet-request-querystring}" />
      <parameter name="@ErrorType" layout="${var:errorType}" />
    </target>

  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <!--
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="DefaultTarget" />
    <logger name="*" minlevel="Error" writeTo="ErrorTarget" />
    <logger name="*" minlevel="Error" writeTo="EmailTarget" />
    <logger name="*" minlevel="Error" writeTo="EventLogTarget" />
    -->
    <logger name="*" minlevel="Trace" writeTo="DefaultTarget" />
    <logger name="*" minlevel="Warn" writeTo="ErrorTarget" />
    <logger name="*" minlevel="Trace" writeTo="DbTarget" />
  </rules>

</nlog>