@{
    Layout = "~/Areas/Member/Views/Shared/_LayoutForAnonymous.cshtml";
}
<div id="wrapper">
    <header></header>
    <section>
        <ul class="toggle_box" id="terms">
            <li><a href="">註冊</a></li>
            <li><a href="">帳號密碼</a></li>
            <li><a href="">轉帳</a></li>
            <li><a href="@Url.Action("RefillFAQ")">儲值</a></li>
            <li><a href="">付款</a></li>
            <li><a href="">乘車碼</a></li>
            <li><a href="">提領</a></li>
            <li><a href="">手續費</a></li>
            <li><a href="">其他</a></li>
        </ul>
    </section>
    <footer></footer>
</div>
