<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FETSmsSubmitUrl" value="https://61.20.32.60/mpushapi/smssubmit" />
    <add key="SysId" value="ALLPAYPA" />
    <add key="SrcAddress" value="01916800061005200223" />
    <add key="ExpiryMinutes" value="10" />
    <add key="LongSmsFlag" value="true" />
    <add key="FlashFlag" value="false" />
    <add key="DrFlag" value="true" />
    <add key="FirstFailFlag" value="false" />
    <!--WebRequest Timeout設定值(秒)-->
    <add key="WebRequestTimeout" value="60" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FETSMSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63899/Api/FETSMS.asmx" binding="basicHttpBinding" bindingConfiguration="FETSMSSoap" contract="FETSMS.FETSMSSoap" name="FETSMSSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>