@using ICP.Modules.Mvc.Admin.Models.PaymentCenter;
@model TradeStatisticsQueryModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutForAjax.cshtml";
    }
}
@section header
{
    <link href="~/Areas/Admin/Content/css/finance.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/Scripts/Finance/TradeStatistics/action.js"></script>
}
    <div class="sc-box no-edge">
        <div id="refreshForm" style="display:none;">
            @using (Ajax.BeginForm("TradeStatisticsQuery", new AjaxOptions { UpdateTargetId = "queryResult" }))
            {
                <input type="submit" />
                <input type="hidden" name="PageSize" value="10" />
                <input type="hidden" name="PageNo" value="1" />
                @Html.TextBoxFor(t => t.StartDate, "{0:yyyy-MM-dd}")
                @Html.TextBoxFor(t => t.EndDate, "{0:yyyy-MM-dd}")
            }
        </div>
        @using (Ajax.BeginForm("TradeStatisticsQuery", null, new AjaxOptions { UpdateTargetId = "queryResult", HttpMethod = "POST" }, new { @id = "QueryForm" }))
        {
            <input type="hidden" name="PageSize" value="10" />
            <input type="hidden" name="PageNo" value="1" />
            <div class="scb-form sf-2column">
                <dl class="sbf-date-single">
                    <dt class="oneline-inp">統計日期<sup class="inp-required">*</sup></dt>
                    <dd class="sbf-date-box">
                        <label class="sdb-item sdb-date">
                            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "flatpickr flatpickr-input active minD", @placeholder = "起始日期", @readonly = "readonly" })
                        </label>
                        <span class="sdb-txt">至</span>
                        <label class="sdb-item sdb-date">
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "flatpickr flatpickr-input active maxD", @placeholder = "結束日期", @readonly = "readonly" })
                        </label>
                    </dd>
                </dl>

            </div>

            <div class="btn-box">
                <a href="javascript:;" class="btn link-submit" title="查詢" id="btnQuery">查詢</a>
                <a href="javascript:;" class="btn btn-blue-border clear-form" title="清除條件">清除條件</a>
            </div>
        }
    </div>

<div id="queryResult">
</div>
