<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <add key="DbProxy_Enable" value="0" />
  <add key="AdminLoginUserPwdKey" value="9cfea2714d144e6a" />
  <add key="AdminLoginUserPwdIV" value="5d9c6f36e5d049b8" />
  <!-- 20190418 Add -->
  <add key="APPXMLPath" value="/Upload/APPXMLPath" />
  <add key="UserCodeHashKey" value="490f4c4718c146d3" />
  <add key="UserCodeHashIV" value="cb8d10e5cfa94394" />
  <!--上傳海外會員資料路徑-->
  <add key="OverSeaPath" value="/Upload/OverSea/"/>
  <add key="IDNO.Path" value="/Upload/IDNO/" />
  <add key="BankAccountPath" value="/Upload/BankAccount/"/>
  <add key="Path:TeenagersLegalDetail" value="/Upload/TeenagersLegalDetail/" />
  <add key="Path:BankAccount" value="/Upload/BankAccount/" />
  <!-- ProductionMode 0 = "非正式環境" 1 = "正式環境" -->
  <add key="ProductionMode" value="0" />
  <add key="DefaultPwd" value="27989688" />
  <add key="IcashCompanyName" value="愛金卡股份有限公司" />
  <add key="AdminEmail" value="sys@ns1.greenworld.com.tw" />
  <add key="AdminDomain" value="http://localhost:3310" />
</appSettings>