<connectionStrings >
  <clear />
  <add name="ICP_Member" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Member;User ID=ICP_Member_Stag;Password=ICP_Member_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Invoice" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Invoice;User ID=ICP_Invoice_Stag;Password=ICP_Invoice_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Admin" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Admin;User ID=ICP_Admin_Stag;Password=ICP_Admin_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_ChatDB" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_ChatDB;User ID=ICP_ChatDB_Stag;Password=ICP_ChatDB_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Coins" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Coins;User ID=ICP_Coins_Stag;Password=ICP_Coins_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Payment" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Payment;User ID=ICP_Payment_Stag;Password=ICP_Payment_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_PaymentCenter" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_PaymentCenter;User ID=ICP_PaymentCenter_Stag;Password=ICP_PaymentCenter_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Share" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Share;User ID=ICP_Share_Stag;Password=ICP_Share_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_SerialNo" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_SerialNo;User ID=ICP_SerialNo_Stag;Password=ICP_SerialNo_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_SMS" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_SMS;User ID=ICP_SMS_Stag;Password=ICP_SMS_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_PaymentStatistics" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_PaymentStatistics;User ID=ICP_PaymentStatistics_Stag;Password=ICP_PaymentStatistics_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Logging" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Logging;User ID=ICP_Logging_Stag;Password=ICP_Logging_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Statistics" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Statistics;User ID=ICP_Statistics_Stag;Password=ICP_Statistics_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Mail" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Mail;User ID=ICP_Mail_Stag;Password=ICP_Mail_Stag;" providerName="System.Data.SqlClient" />
</connectionStrings>