<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!--<add key="DbProxy_Enable" value="1" />-->
  <add key="Host_OpenPointApi_Domain" value="" />
</appSettings>