@using ICP.Modules.Mvc.Admin.Models.ViewModels
@model QueryFunctionSwitchVM
@section header
{
    <link href="~/Areas/Admin/Content/css/member.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/page.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/system.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/Scripts/FunctionSwitch/Index/action.js"></script>
}
<div class="sc-box no-edge">
    <div id="refreshForm" style="display:none;">
        @using (Ajax.BeginForm("Query", new AjaxOptions { UpdateTargetId = "queryResult", HttpMethod = "POST" }))
        {
            <input type="submit" />
            @Html.TextBoxFor(t => t.FunctionName)
        }
    </div>
    @using (Ajax.BeginForm("Query", new AjaxOptions { UpdateTargetId = "queryResult", HttpMethod = "POST" }))
    {
        <input type="submit" id="btnQuery" value="query" style="display:none;" />
        <div class="scb-list-box">
            <ul class="content-list">
                <li>功能維護以群組來進行設定。</li>
                <li>開關狀態關閉後，該功能將會暫時無法使用。</li>
                <li>如提早知道功能要開啟或關閉，可以點選「設定關閉時間」進行設定。</li>
                <li>
                    預設開關使用說明：系統功能會依照預約起訖時間及預約狀態進行開/關，待預約時間結束後則依照主狀態設定顯示。<br>
                    例：預約今日早上9點至下午2點功能關閉，主狀態設定為開啟，該功能將在預約的時間內關閉，下午2點後開啟。
                </li>
            </ul>
        </div>
        <div class="scb-search-box">
            <div class="scb-search">
                <span class="icon-ic-search ssr-icon"></span>
                @Html.TextBoxFor(t => t.FunctionName, new { @class = "ssr-inp", placeholder = "輸入欲查詢群組名稱關鍵字搜尋" })
            </div>
        </div>
    }
</div>
<div id="queryResult">
</div>