<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <add key="ICPIdentifier" value="45564213"/>
  <!--是否開啟由載具表頭反驗手機條碼機制-->
  <add key ="CarrierInvMockVerification" value="1"/>
</appSettings>