<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <add key="DbProxy_Enable" value="0" />
  <add key="Host_PaymentCenter_Domain" value="https://icp-pay-stage.ecpay.com.tw" />
  <add key="Host_Payment_Domain" value="https://icp-payment-stage.ecpay.com.tw" />
  <add key="Environment" value="beta" /> 
  <!-- Open Wallet Server Domain -->
  <add key="Host_OW_Domain" value="http://localhost:3312" />
  <add key="Host_Member_Domain" value="https://icp-member-stage.ecpay.com.tw" />
</appSettings>