<connectionStrings>
  <clear />
  <add name="ICP_Member" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Member;User ID=ICP_Member_Stag;Password=ICP_Member_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Logging" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Logging;User ID=ICP_Logging_Stag;Password=ICP_Logging_Stag;" providerName="System.Data.SqlClient" />
  <add name="ICP_Share" connectionString="Data Source=10.8.11.21;Initial Catalog=ICP_Share;User ID=ICP_Share_Stag;Password=ICP_Share_Stag;" providerName="System.Data.SqlClient" />
</connectionStrings>