<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!-- PIC Web Service 路徑 -->
  <add key="PicWSUrl" value="http://61.57.231.23/b2beivcp/ws/SellerJobReceiverWebService" />
  <!-- 營業人編號 -->
  <add key="Identifier" value="54650114" />
  <!-- 帳號 -->
  <add key="Account" value="54650114" />
  <!-- 密碼 -->
  <add key="Password" value="54650114" />
  <!-- 管理員信箱 -->
  <add key="ErrMailTo" value="eric.lin@ecpay.com.tw" />
</appSettings>