<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ICP.Batch.PICChargeFeeResult.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configSource=".\App_Data\appSettings.config" />
  <connectionStrings configSource=".\App_Data\connectionStrings.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ICP.Batch.PICChargeFeeResult.Properties.Settings>
      <setting name="ICP_Batch_PICChargeFeeResult_PICWebService_SellerJobReceiverServiceImplService" serializeAs="String">
        <value>http://61.57.231.23/b2beivcp/ws/SellerJobReceiverWebService</value>
      </setting>
    </ICP.Batch.PICChargeFeeResult.Properties.Settings>
  </applicationSettings>
</configuration>