<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configSource=".\App_Data\appSettings.Beta.config" xdt:Transform="SetAttributes(configSource)" />
  <connectionStrings configSource=".\App_Data\connectionStrings.Beta.config" xdt:Transform="SetAttributes(configSource)" />
</configuration>