<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <add key="DbProxy_Enable" value="1" />
  <!-- AccountLink Domain -->
  <add key="Host_Middleware_AccountLink_Domain" value="https://icp-bank-stage.ecpay.com.tw" />
  <add key="Environment" value="stage" />
  <add key="AccountLinkMock" value="0" />
</appSettings>