<appSettings>
  <clear/>
  <!-- Mvc 預設 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!--<add key="DbProxy_Enable" value="1" />-->
  <add key="Authorization_CookieName" value="iCP-Authorization-Stage" />
  <add key="Authorization_Domain" value="localhost" />
  <add key="Host_Member_Domain" value="http://icp-member-stage.ecpay.com.tw" />
  <add key="IDNO.Path" value="/Upload/IDNO/" />
  <add key="JCICAccount" value="A01EP999" />
  <add key="JCICPassword" value="jcictest" />
  <add key="Switch" value="0" />
</appSettings>