<connectionStrings>
  <clear />
  <add name="ICP_Member" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Member;User ID=ICP_Member_Dev;Password=ICP_Member_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Invoice" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Invoice;User ID=ICP_Invoice_Dev;Password=ICP_Invoice_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Admin" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Admin;User ID=ICP_Admin_Dev;Password=ICP_Admin_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_ChatDB" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_ChatDB;User ID=ICP_ChatDB_Dev;Password=ICP_ChatDB_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Coins" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Coins;User ID=ICP_Coins_Dev;Password=ICP_Coins_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Payment" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Payment;User ID=ICP_Payment_Dev;Password=ICP_Payment_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_PaymentCenter" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_PaymentCenter;User ID=ICP_PaymentCenter_Dev;Password=ICP_PaymentCenter_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Share" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Share;User ID=ICP_Share_Dev;Password=ICP_Share_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_SerialNo" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_SerialNo;User ID=ICP_SerialNo_Dev;Password=ICP_SerialNo_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_SMS" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_SMS;User ID=ICP_SMS_Dev;Password=ICP_SMS_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_PaymentStatistics" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_PaymentStatistics;User ID=ICP_PaymentStatistics_Dev;Password=ICP_PaymentStatistics_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Logging" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Logging;User ID=ICP_Logging_Dev;Password=ICP_Logging_Dev;" providerName="System.Data.SqlClient" />
  <add name="ICP_Mail" connectionString="Data Source=192.168.150.83;Initial Catalog=ICP_Mail;User ID=ICP_Mail_Dev;Password=ICP_Mail_Dev;" providerName="System.Data.SqlClient" />
</connectionStrings>