<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="DbProxy_Url" value="http://localhost:3320/DbProxyHandler.ashx" />
  <add key="DbProxy_HashKey" value="4ugC3hammnxPbCxqjdN8NmAALY0nDVcA" />
  <add key="DbProxy_HashIv" value="dqTfAAGIU9cfQtUC" />
  <!--<add key="DbProxy_Enable" value="1" />-->

  <!-- File Path -->
  <add key="DownloadPath" value="D:\ftproot\AccountLink\{0}\" />
  <add key="ZipPath" value="D:\AllPayLog\AccountLink\{0}\{1}\Zip\" />
  <add key="ProcessPath" value="D:\AllPayLog\AccountLink\{0}\{1}\Process\" />
  <add key="SuccessPath" value="D:\AllPayLog\AccountLink\{0}\{1}\Success\" />
  <add key="FailPath" value="D:\AllPayLog\AccountLink\{0}\{1}\Fail\" />
  <add key="LogPath" value="D:\AllPayLog\AccountLink\{0}\{1}\Log\"/>
</appSettings>