<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--[設定] 寫入目標-->
  <targets>
    <target xsi:type="File" name="DefaultTarget" encoding="UTF-8" fileName="${basedir}\Logs\${logger}\${date:format=yyyy-MM-dd}.log"
     layout="[${date:format=HH\:mm\:ss.fff}][${uppercase:${level}}] ${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="ConsoleTarget"
     layout="[${date:format=HH\:mm\:ss.fff}][${uppercase:${level}}] ${message} ${exception:format=tostring}" />
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="DefaultTarget" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
  </rules>

</nlog>