@{
    Layout = "~/Areas/Member/Views/Shared/_LayoutForAnonymous.cshtml";
}
<div id="wrapper">
    <header></header>
    <section>
        <ul class="toggle_box" id="terms">
            <li><a href="#">個資保護</a></li>
            <li><a href="@Url.Action("UserTerms")">使用者契約</a></li>
        </ul>
    </section>
    <footer></footer>
</div>
