@{
    Layout = "~/Areas/Member/Views/Shared/_LayoutForAnonymous.cshtml";
    <script src="~/Areas/Member/Scripts/jquery.min.js"></script>
    <script src="~/Areas/Member/Scripts/device.min.js"></script>
    <script src="~/Areas/Member/Scripts/action.min.js"></script>
}
<div id="wrapper">
    <header></header>
    <section>
        <div class="text" id="terms_text"><span>親愛的朋友，歡迎您蒞臨雲控管理平台（下稱「本站」），您在本站活動的個人隱私權，本站絕對尊重並予以保護。為了幫助您瞭解本站如何蒐集、利用、處理及保護您所提供的個人資訊，請您閱讀下列說明： <br><br>一、適用範圍 以下的隱私權政策，適用於您在本站活動時，有關個人資料的蒐集、利用、處理與保護，但不適用於本站所連結 之其它網站。凡經由本站連結之其它網站，均有其專屬之隱私權保護與資訊安全政策，概與本站無關，本站亦不負任何連帶責任。當您在這些網站時，關於個人資料 的保護，適用各該網站的隱私權政策。 <br><br>二、個人資料保護 <br>1.為了讓本站管理會員、提供服務，並為使本站會員取得本公司及本公司之關係企業、合作夥伴之各項服務，本 站在您註冊成為本站會員時，本站會請您提供個人資訊，包括：姓名、居住地址、連絡電話、進出資料…等足以辨識您個人之資料。您可拒絕提供前述資料，但這將 導致您無法加入本站會員且無法取得本站的相關服務。 <br>2.您的會員帳號資料內之個人資料及您自行輸入本站的他人個人資料，將在您成為本站會員之日起到本公司依會員服務 條款終止您的會員資格之後的五年內，於前述目的內為本公司、本公司之關係企業、合作夥伴於服務提供所及範圍內及依本站使用者條款、會員服務條款及本隱私權 政策所約定之方式蒐集、處理及利用。 <br>3.針對您的個人資料，您有依照個人資料保護法第三條規定向本公司請求的權利（如向本公司請求閱覽您的個人資料等）。 <br>4.本站所蒐集的會員個人資料將依「個人資料保護法」及相關法律規定處理。</span></div>
    </section>
    <footer></footer>
</div>
