@{
    Layout = "~/Areas/Member/Views/Shared/_LayoutForAnonymous.cshtml";
    <script src="~/Areas/Member/Scripts/jquery.min.js"></script>
    <script src="~/Areas/Member/Scripts/device.min.js"></script>
    <script src="~/Areas/Member/Scripts/action.min.js"></script>
}
<div id="wrapper">
    <header></header>
    <section>
        <ul class="toggle_box" id="teaching">
            <li class="br">
                <a href="javascript:void(0);" onclick="toggle_flag(this);">註冊</a>
                <div class="toggle_container">
                    <div class="text">
                        <p>測試標題</p><span>測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文</span>
                    </div>
                </div>
            </li>
            <li class="br">
                <a href="javascript:void(0);" onclick="toggle_flag(this);">付款</a>
                <div class="toggle_container"><img src="~/Areas/Member/Content/icon_browser.png"></div>
            </li>
            <li class="br">
                <a href="javascript:void(0);" onclick="toggle_flag(this);">儲值與提領</a>
                <div class="toggle_container">
                    <div class="text">
                        <p>測試標題</p><span>測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文</span>
                    </div><img src="~/Areas/Member/Content/icon_browser.png">
                </div>
            </li>
            <li class="br">
                <a href="javascript:void(0);" onclick="toggle_flag(this);">轉帳收款</a>
                <div class="toggle_container">
                    <img src="~/Areas/Member/Content/icon_browser.png">
                    <div class="text">
                        <p>測試標題</p><span>測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文測試內文</span>
                    </div>
                </div>
            </li>
            <li class="br">
                <a href="javascript:void(0);" onclick="toggle_flag(this);">設定</a>
                <div class="toggle_container"><img src="~/Areas/Member/Content/icon_browser.png"><img src="~/Areas/Member/Content/icon_browser.png"></div>
            </li>
        </ul>
    </section>
    <footer></footer>
</div>