.btn {
  background: #f36f20; }
  .btn.on-touch, .btn:active {
    background: #f68e50; }
  .btn.btn-light {
    background: #FF9657; }
    .btn.btn-light.on-touch, .btn.btn-light:active {
      background: #ffb68a; }
  .btn.btn-gray {
    color: #FFF;
    background: #6e6c6e; }
    .btn.btn-gray.on-touch, .btn.btn-gray:active {
      color: #FFF;
      background: #9e9e9e; }
  .btn.btn-dark {
    color: #FFF;
    background: #191F27; }
    .btn.btn-dark.on-touch, .btn.btn-dark:active {
      color: #FFF;
      background: #2d3846; }
  .btn.btn-blue-border {
    color: #f36f20;
    background: white;
    border-color: #f36f20; }
    .btn.btn-blue-border.on-touch, .btn.btn-blue-border:active {
      border-color: #f68e50; }
    .btn.btn-blue-border.disabled {
      background: white;
      border-color: #e9e9e9; }
      .btn.btn-blue-border.disabled.on-touch, .btn.btn-blue-border.disabled:active {
        border-color: #e9e9e9; }
  .btn.disabled {
    color: #a9a9a9;
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    cursor: default; }
    .btn.disabled.on-touch, .btn.disabled:active {
      color: #a9a9a9;
      background: #e9e9e9; }

input:focus, input:hover, textarea:focus, textarea:hover {
  border-color: #f36f20; }

.def-select:focus:before, .def-select:focus select, .def-select:hover:before, .def-select:hover select {
  border-color: #f36f20; }

.def-radio input[type=radio]:checked + label:before {
  border-color: #f36f20; }

.def-radio input[type=radio]:checked + label:after {
  background: #f36f20; }

.def-check input[type=checkbox]:checked + label:before {
  background: #f36f20;
  border-color: #f36f20; }

.site-header .member-function .mf-btn {
  color: white;
  background: #f36f20; }
  .site-header .member-function .mf-btn.on-touch, .site-header .member-function .mf-btn:active {
    background: #f68e50; }

.left-nav-container {
  background: #f36f20; }
  .left-nav-container .lnb-list-box .lnb-title {
    color: #FFF;
    background: #c64f07; }
  .left-nav-container .lnb-list-box .lnb-list .lnb-subtitle {
    color: #FFF;
    background: #f36f20; }
    .left-nav-container .lnb-list-box .lnb-list .lnb-subtitle.on-touch {
      background: #da631c; }
  .left-nav-container .lnb-list-box .lnb-list > li.lnl-active .lnb-subtitle {
    background: #da631c; }
  .left-nav-container .lnb-list-box .lnb-list-sec {
    background: #ffe1cf; }
    .left-nav-container .lnb-list-box .lnb-list-sec > li > a {
      color: #f36f20; }
      .left-nav-container .lnb-list-box .lnb-list-sec > li > a:before {
        border-color: transparent transparent transparent #a3470f; }
      .left-nav-container .lnb-list-box .lnb-list-sec > li > a.on-touch {
        color: #a3470f;
        background: #f5c7ac; }
    .left-nav-container .lnb-list-box .lnb-list-sec > li.lls-active > a {
      color: #a3470f;
      background: #f5c7ac; }

.scb-list-box {
  background: #fff7f2; }

.scb-search .ssr-inp:focus, .scb-search .ssr-inp:hover {
  border-color: #f36f20; }

.sc-group-info {
  background: #f36f20; }

.sc-pagenum-box .spb-list .spl-arrow {
  border-right-color: #f36f20; }

.scb-table.st-5 .stb-title {
  background: #fef3ed; }

.mg-popup .mp-btn-block .mp-btn {
  color: #f36f20; }

.mg-popup .mp-btn-block .mbn-gray {
  color: #6e6c6e; }

.mg-popup .mfp-close {
  color: #f36f20; }

.add-multi-member-popup {
  width: 600px;
  text-align: center; }
  .add-multi-member-popup .pp-content {
    padding: 40px 40px 0px; }
  .add-multi-member-popup .amm-choice-box .amc-list li:hover, .add-multi-member-popup .amm-choice-box .amc-list li.aml-act {
    color: #f36f20; }
