<div id="popups">
    <div popup="general" class="tip-popup mg-popup mfp-with-anim">
        <div class="pp-container">
            <div class="pp-content">
            </div>
            <div class="mp-btn-block">
                <a href="#" class="mp-btn popup-close" title="確認">確認</a>
            </div>
        </div>
    </div>
    <div popup="confirm" class="dele-tip-popup mg-popup mfp-with-anim">
        <div class="pp-container">
            <div class="pp-content">
            </div>
            <div class="mp-btn-block">
                <a href="javascript:;" class="mp-btn mbn-gray popup-close" title="取消">取消</a>
                <a href="#" class="mp-btn yes" title="確認">確認</a>
            </div>
        </div>
    </div>
</div>
