<appSettings>
  <clear/>
  <!-- 自定義 -->
  <add key="HashKey_1" value="HashKey_1" />
  <add key="HashIv_1" value="HashIv_1" />
  <add key="SYS_MerchantID" value="1000070" />
  <add key="SYS_HashKey" value="fugvqTnG3ROx81MO" />
  <add key="SYS_HashIV" value="WkSfnqIaHLbUMV5X" />
  <add key="UserCodeHashKey" value="490f4c4718c146d3" />
  <add key="UserCodeHashIV" value="490f4c4718c146d3" />
  <add key="MemberPasswordKey" value="a98ca249fa63431f" />
  <add key="MemberPasswordIV" value="e1167a6484ea4c60" />
  <add key="TradePasswordKey" value="dd2b86ccdca9470d" />
  <add key="TradePasswordIV" value="d189280cc97e4377" /> 
  <add key="CustomOpenWalletAESKey" value="47ffa3f298a94a64" />
  <add key="CustomOpenWalletAESIV" value="ef0185f5ebfa4142" />
  <add key="CustomOpenWalletHashKey" value="open" />
  <add key="CustomOpenWalletHashIV" value="Point" />
  <add key="OPWebUIApiAESKey" value="47ffa3f298a94a64" />
  <add key="OPWebUIApiAESIV" value="ef0185f5ebfa4142" />
  <add key="OPWebUIApiHashKey" value="47ffa3f298a94a64" />
  <add key="OPWebUIApiHashIV" value="ef0185f5ebfa4142" />
  <!-- AccountLink 內部傳遞資料 -->
  <add key="ACLink_HashKey" value="65vhge24guih7gls" />
  <add key="ACLink_HashIV"  value="nj962asf5unjcvsw" />
  <!--AppRss推播-->
  <add key="AppRssAESKey" value="Aq3t6$9z$C+F)J@ND(G+KbPePsVmYq3t" />
  <add key="AppRssFrontKey" value="OpicashPay" />
  <add key="AppRssRearKey" value="icashPayoP" />
  <!--電子發票Key-->
  <add key="InvoiceDataHashKey" value="HashKey_1"/>
  <add key="InvoiceDataHashIV" value="HashIv_1"/>
  <add key="InvoiceVerificationCodeHashKey" value="VmYq3t6wmYq3t6w9"/>
  <add key="InvoiceVerificationCodeHashIv" value="ThWmZq4tfUjXn2r5"/>
   <!--TinyURL-->
  <add key="TinyURLHashKey" value="izkd49IkadL9234j" />
  <add key="TinyURLHashIV" value="IpdiSP9djdIxpzq9" />
</appSettings>